<header class="author-header">
  <div class="author-header-content">
    <h1>Kevin Hoyt</h1>
    <p>{{ content | safe }}</p>
    <div class="author-header-meta">
      <a class="author-header-item" href="https://twitter.com/krhoyt" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
  </div>
  <div class="author-header-image">
    <img src="/img/krhoyt.jpg" alt="Kevin Hoyt">
  </div>
</header>
