<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="The intersection of development and design." />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Kevin Hoyt</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="Kevin Hoyt" href="/feed.xml" />  

  <link rel="stylesheet" href="/style/kevinhoyt.css" />
  <link rel="stylesheet" href="/style/header.css" />
  <link rel="stylesheet" href="/style/main.css" />
  <link rel="stylesheet" href="/style/footer.css" />  

</head>
<body>

  {% include 'header.njk' %}

  <main>          
    {{ content | safe }}
  </main>

  {% include 'footer.njk' %}

</body>
</html>
