<header {% if page.url == '/' %}class="home"{% endif %}>
  <div>
    <p><a href="">Kevin Hoyt</a></p>
    <a href="https://twitter.com/krhoyt">
      <img src="/img/twitter.svg" width="16" height="16" />
    </a>
    <a href="https://github.com/krhoyt">
      <img src="/img/github.svg" width="16" height="16" />
    </a>      
  </div>
  <div>
    <h2>Kevin Hoyt</h2>
    <h3>The intersection of development and design.</h3>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/lounge">Lounge</a></li>
  </ul>
</header>
