<header {% if page.url == '/' %}class="home"{% endif %}>
  <div>
    <p>Kevin Hoyt</p>
    <a href="https://bsky.app/profile/krhoyt.bsky.social" target="_blank">
      <img src="/img/bluesky.svg" width="16" height="16" />
    </a>
    <a href="https://github.com/krhoyt" target="_blank">
      <img src="/img/github.svg" width="16" height="16" />
    </a>      
    <a href="https://www.youtube.com/channel/UCSFeFhtLBuzU2UMs7oOL54A" target="_blank">
      <img src="/img/youtube.svg" width="20" height="20" style="margin-top: -1px;" />
    </a>          
    <a href="https://www.instagram.com/parkerkrhoyt" target="_blank">
      <img src="/img/instagram.svg" width="16" height="16" />
    </a>      
  </div>
  <div>
    <h2>Kevin Hoyt</h2>
    <h3>The intersection of development and design.</h3>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/lounge">Lounge</a></li>
  </ul>
</header>
