<section id="hero" fetchpriority="high">

  <article>

    {% if section %}
      <h2>{{ section }}</h2>
    {% endif %}

    {% if quote %}
      <h3>{{ quote }}</h3>
    {% endif %}

    {% if description %}
      <p>{{ description }}</p>
      <div style="display: flex; flex-direction: row; gap: 16px;">
        <a aria-label="Let's build something together" href="#contact">Let's build something together</a>  
        <a aria-label="Buy me a coffee" href="https://buymeacoffee.com/krhoyt" target="_blank">Buy me a coffee <span style="padding-left: 8px;">☕</span></a>  
      </div>
    {% endif %}
  
  </article>
  
</section>
