<section id="hero" fetchpriority="high">

  <article>

    {% if section %}
      <h2>{{ section }}</h2>
    {% endif %}

    {% if quote %}
      <h3>{{ quote }}</h3>
    {% endif %}

    {% if description %}
      <p>{{ description }}</p>
      <a aria-label="Let's build something together" href="#contact">Let's build something together</a>  
    {% endif %}
  
  </article>
  
</section>
