<section id="hero" fetchpriority="high">

  <article>

    {% if section %}
      <h2>{{ section }}</h2>
    {% endif %}

    {% if quote %}
      <h3>{{ quote }}</h3>
    {% endif %}

    {% if description %}
      <p>{{ description }}</p>
      <div style="display: flex; flex-direction: row; gap: 16px;">
        <a aria-label="Let's build something together" href="#contact">Let's build something together</a>  
        <a aria-label="Support my work on Patreon" href="https://www.patreon.com/cw/krhoyt" target="_blank">Support my work on Patreon</a>  
      </div>
    {% endif %}
  
  </article>
  
</section>
