<section id="metrics">

  <div>

    <article>
      <h3>25+ <span>years</span></h3>
      <p>Professional software development</p>
    </article>

    <article>
      <h3>25+ <span>years</span></h3>
      <p>Working remote as a technologist</p>
    </article>

    <article>
      <h3>100+</h3>
      <p>Speaking/workshop engagements</p>
    </article>    

    <article>
      <h3>$1M <span>budget</span></h3>
      <p>Managed for DevRel programs</p>
    </article>

    <article>
      <h3>200+ <span>writers</span></h3>
      <p>Supported via internal AI tooling</p>
    </article>

    <article>
      <h3>50+ <span>advocates</span></h3>
      <p>Directly mentored across career</p>
    </article>

  </div>

</section>
