<nav class="site-nav">
  <div class="site-nav-left">
    <a class="site-nav-item" href="/">Home</a>
    <a class="site-nav-item" href="/about">About</a>   
    <a class="site-nav-item" href="/events">Events</a>       
    <a class="site-nav-item" href="/lounge">Lounge</a>     
  </div>
</nav>
