<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="{{ excerpt }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Kevin Hoyt · Notes</title>

  <link rel="icon" type="image/x-icon" href="/img/edit.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="Kevin Hoyt" href="/feed.xml" />

  <link rel="stylesheet" href="/style/kevinhoyt.css" />
  <link rel="stylesheet" href="/style/header.css" />
  <link rel="stylesheet" href="/style/prism.css" />
  <link rel="stylesheet" href="/style/note.css" />
  <link rel="stylesheet" href="/style/footer.css" />

</head>
<body>

  {% include 'header.njk' %}

  <main>

    <!-- <a href="/notes">Back to Notes</a> -->

    {% set prevNote = collections.notesByDate | prevNote(page.url) %}
    {% set nextNote = collections.notesByDate | nextNote(page.url) %}

    <header>
      <h1>{{ page.date | htmlDateString }}</h1>
      {% if prevNote %}
        <a href="{{ prevNote.data.permalink }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>
        </a>
      {% endif %}
      {% if nextNote %}
        <a href="{{ nextNote.data.permalink }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8L4.646 2.354a.5.5 0 0 1 0-.708"/></svg>
        </a>
      {% endif %}
    </header>

    <aside>

      {% if link === true %}
        <p class="tag">Link</p>
      {% endif %}

      {% if code === true %}
        <p class="tag">Code</p>
      {% endif %}

      {% if image === true %}
        <p class="tag">Image</p>
      {% endif %}

      {% if video === true %}
        <p class="tag">Video</p>
      {% endif %}  

    </aside>

    {{ content | safe }}

    <a href="/notes">Back to Notes</a>

  </main>

  {% include 'footer.njk' %}

  <script src="/script/avatar.js" type="module"></script>
  <script src="/script/menu.js"></script>

</body>
</html>
