<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="The intersection of development and design." />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{{ title }}</title>

  <link rel="icon" type="image/x-icon" href="/img/edit.svg">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="Kevin Hoyt" href="/feed.xml" />  

  <link rel="stylesheet" href="/style/kevinhoyt.css" />
  <link rel="stylesheet" href="/style/header.css" />
  <link rel="stylesheet" href="/style/post.css" />
  <link rel="stylesheet" href="/style/prism.css" />    
  <link rel="stylesheet" href="/style/footer.css" />

</head>
<body>
  
  {% include 'header.njk' %}

  {% block content %}
  
    <main>

      <div>

        <img src="{{ feature_image }}" alt="{{ title }}">

        {% if unsplash_author %}
          <figcaption>
            <p>Photo by <a href="{{ unsplash_author_url }}">{{ unsplash_author }}</a> on <a href="{{ unsplash_photo_url }}">Unsplash</a></p>
          </figcaption>
        {% endif %}

      </div>

      <article>

        <h1>{{ title }}</h1>

        <time>{{ page.date | htmlDateString }} · {{ content | getReadingTime }} min read</time>

        {% if tags %}
          <aside>
            {% for tag in tags %}
              <p>{{ tag }}</p>
            {% endfor %}
          </aside>
        {% endif %}        
        
        {{ content | safe }}
        
      </article>

    </main>

  {% endblock %}        

  {% include 'footer.njk' %}

  <script src="/script/menu.js"></script>

</body>
</html>
