<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Makes cool shit." />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="Kevin Hoyt" href="/feed.xml" />  

  <link rel="stylesheet" href="/style/kevinhoyt.css" />
  <link rel="stylesheet" href="/style/header.css" />
  <link rel="stylesheet" href="/style/article.css" />
  <link rel="stylesheet" href="/style/footer.css" />
  <link rel="stylesheet" href="/style/prism.css" />  

</head>
<body>
  
  {% include 'header.njk' %}

  {% block content %}
  <main>

    <div>
      <img src="{{ feature_image }}" alt="{{ title }}">

      {% if unsplash_author %}
        <figcaption>
          <p>Photo by <a href="{{ unsplash_author_url }}">{{ unsplash_author }}</a> on <a href="{{ unsplash_photo_url }}">Unsplash</a></p>
        </figcaption>
      {% endif %}
    </div>

    <article>
      <h1>{{ title }}</h1>
      <time>{{ page.date | htmlDateString }} &bull; {{ content | safe | getReadingTime }} min read</time>
      {{ content | safe }}
      <time>Published on {{ page.date | htmlDateString }}</time>
    </article>
  </main>
  {% endblock %}        

  {% include 'footer.njk' %}

</body>
</html>
