<section id="projects">
  <h2>Featured Projects</h2>
  <kh-carousel>
    <div>
      <img src="/img/projects/anno-awesome.png">
      <h3>Anno Awesome (Year-View Calendar)</h3>
      <p>A comprehensive year-at-a-glance calendar. Built with Web Components, embracing a MacOS look and feel. Supports multiple calendars and limited sharing via cloud object storage and serverless integration. <span>Role:</span> <span>Developer<span> • <span>Tech:</span> <span>Serverless, Web Architecture</span></p>
      <a class="visit">Visit project</a>
    </div>
    <div>
      <img src="/img/projects/diesel.png">
      <h3>Diesel (DEA Controlled Substances Log)</h3>
      <p>A comprehensive year-at-a-glance calendar. Built with Web Components, embracing a MacOS look and feel. Supports multiple calendars and limited sharing via cloud object storage and serverless integration. <span>Role:</span> <span>Developer<span> • <span>Tech:</span> <span>Serverless, Web Architecture</span></p>
      <a class="visit">Visit project</a>
    </div>
    <div>
      <img src="/img/projects/flavor-all.png">
      <h3>Flavor Awesome (Palate Development Journal)</h3>
      <p>A comprehensive year-at-a-glance calendar. Built with Web Components, embracing a MacOS look and feel. Supports multiple calendars and limited sharing via cloud object storage and serverless integration. <span>Role:</span> <span>Developer<span> • <span>Tech:</span> <span>Serverless, Web Architecture</span></p>
      <a class="visit">Visit project</a>
    </div>            
  </kh-carousel>
</section>
