<section id="projects">

  <h2>Featured Projects</h2>

  <kh-carousel>

    <!-- Flavor Awesome -->
    <div>
      <img alt="Flavor Awesome" src="/img/projects/flavor-awesome.png">
      <h3>
        <a aria-label="Flavor Awesome (Journal)" href="https://app.flavorawesome.com" target="_blank">        
          <span>Flavor Awesome (Journal)</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h14v-7h2v7q0 .825-.587 1.413T19 21zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"/>
          </svg>
        </a>
      </h3>
      <p>Developed for people with a mouth. Assists with palate development for people looking to improve their understanding of the foods they consume. From hobbyist to connoisseur. Robust data visualization, AI recommendations, and custom form controls.</p>
      <p>Web, IndexedDB, AI/ML</p>
    </div>            

    <!-- Anno Awesome -->
    <div>
      <img alt="Anno Awesome" src="/img/projects/anno-awesome.png">
      <h3>
        <a aria-label="Anno Awesome (Year-View Calendar)" href="https://app.annoawesome.com" target="_blank">
          <span>Anno Awesome (Year-View Calendar)</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h14v-7h2v7q0 .825-.587 1.413T19 21zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"/>
          </svg>          
        </a>
      </h3>
      <p>A comprehensive year-at-a-glance calendar. Built with Web Components, embracing a MacOS look and feel. Supports multiple calendars and limited sharing via cloud object storage and serverless integration.</p> 
      <p>Serverless, Web Architecture</p>
    </div>

    <!-- Diesel -->
    <div>
      <img alt="Diesel" src="/img/projects/diesel.png">
      <h3>
        <a aria-label="Diesel DEA Substance Use Log" href="https://diesel-demo.netlify.app" target="_blank">
          <span>Diesel (DEA Substance Use Log)</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h14v-7h2v7q0 .825-.587 1.413T19 21zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"/>
          </svg>                    
        </a>
      </h3>        
      <p>Built for a pharmacuetical company to digitally track and manage controlled substances. Replaced a paper-based workflow to mitigate risk and improve accountability and efficiency. Roles-based features.</p>
      <p>Web, LDAP, API, SQLite</p>      
    </div>

  </kh-carousel>

</section>
