<section id="projects">

  <h2>Featured Projects</h2>

  <kh-carousel>

    <!-- Flavor Awesome -->
    <div>
      <a href="https://app.flavorawesome.com" target="_blank">
        <img src="/img/projects/flavor-awesome.png">
      </a>      
      <h3>
        <a href="https://app.flavorawesome.com" target="_blank">
          Flavor Awesome (Palate Development Journal)
        </a>
      </h3>
      <p>
        <a href="https://app.flavorawesome.com" target="_blank">
          Developed for people with a mouth. Assists with palate development for people looking to improve their understanding of the foods they consume. From hobbyist to connoisseur. Robust data visualization, AI recommendations, and custom form controls.
          <span>Web, IndexedDB, AI/ML</span>
        </a>
      </p>
    </div>            

    <!-- Anno Awesome -->
    <div>
      <a href="https://app.annoawesome.com" target="_blank">
        <img src="/img/projects/anno-awesome.png">
      </a>
      <h3>
        <a href="https://app.annoawesome.com" target="_blank">
          Anno Awesome (Year-View Calendar)</h3>
        </a>
      </h3>
      <p>
        <a href="https://app.annoawesome.com" target="_blank">        
          A comprehensive year-at-a-glance calendar. Built with Web Components, embracing a MacOS look and feel. Supports multiple calendars and limited sharing via cloud object storage and serverless integration. 
          <span>Serverless, Web Architecture</span>
        </a>
      </p>
    </div>

    <!-- Diesel -->
    <div>
      <a href="https://diesel-demo.netlify.app" target="_blank">
        <img src="/img/projects/diesel.png">
      </a>
      <h3>
        <a href="https://diesel-demo.netlify.app" target="_blank">
          Diesel (DEA Substance Use Log)
        </a>
      </h3>        
      <p>
        <a href="https://diesel-demo.netlify.app" target="_blank">
          Built for a pharmacuetical company to digitally track and manage controlled substances. Replaced a paper-based workflow to mitigate risk and improve accountability and efficiency. Roles-based features.
          <span>Web, LDAP, API, SQLite</span>
        </a>
      </p>
    </div>

  </kh-carousel>

</section>
