<section id="writing">

  <h2>Featured Writing</h2>

  <div>

    {% for post in collections.postsByRating.slice( 0, 6 ) %}
      <article>

        {% if post.data.feature_image %}
          <img alt="{{ post.data.title }}" src="{{ post.data.feature_image }}">
        {% endif %}

        <h3>{{ post.data.title }}</h3>

        {% if post.data.description %}
          <p>{{ post.data.description }}</p>
        {% endif %}

        <footer>

          {% if post.data.tags %}
            <aside>
              {% for tag in post.data.tags %}
                <p>{{ tag }}</p>
              {% endfor %}
            </aside>
          {% endif %}

          <a aria-label="{{ post.data.title}}" href="{{ post.url }}">Read more</a>

        </footer>

      </article>
    {% endfor %}

  </div>

</section>
