---
layout: default.njk
---

{% for post in collections.posts %}

  <article>
    <img src="{{ post.data.feature_image }}" />
    <p>{% for tag in tags %}{{ tag.name }}{% endfor %}</p>
    <h4>{{ post.data.title }}</h4>
    <p>{{ post.data.description }}</p>
    <address>
      <a href="{{ post.url }}">
        <img src="/img/krhoyt.jpg" />
      </a>
      <div>        
        <p>Kevin Hoyt</p>
        <p>Apr 8, 2019 &bull; {{ post.html | safe | getReadingTime }} min read</p>
      </div>
    </address>
  </article>

{% endfor %}
