#metrics {
  align-items: center;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 48px 0 48px 0;
  width: 100%;
}

#metrics div {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-rows: repeat( 2, 1fr );
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  max-width: 900px;
  width: 80%;
}

#metrics h2 {
  color: #1a1a1a;
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 16px 0 32px 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-font-smoothing: antialiased;          
}

#metrics article {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;  
}

#metrics article:hover {
  transform: translateY( -2px );
}

#metrics article h3 {
  align-items: center;  
  color: #1a1a1a; 
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
  text-align: center;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-font-smoothing: antialiased;         
}

#metrics article h3 span {
  box-sizing: border-box;
  color: #262626;
  font-size: 16px;
  line-height: 24px;
}

#metrics article p {
  color: #666; 
  cursor: default;  
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 8px 0 0 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-font-smoothing: antialiased;          
}

@media only screen and ( max-width: 768px ) {    
  #metrics div {
    width: 90%;
  }

  #metrics article h3 {
    font-size: 42px;
  }
}

@media only screen and ( max-width: 640px ) {    
  #metrics div {
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: repeat( 3, 1fr );    
  }
}

@media only screen and ( max-width: 480px ) {    
  #metrics div {
    grid-template-columns: repeat( 1, 1fr );
    grid-template-rows: repeat( 6, 1fr );    
  }
}
