#status {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0 48px 0;
  width: 100%;
}

#status article {
  align-items: flex-start;
  border-bottom: solid 1px #00000010;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  padding: 16px 16px 0 16px;
  max-width: 600px;
  width: 600px;
}

#status article:last-of-type {
  border-bottom: none;
}

#status article header {
  display: flex;
  flex-direction: row;
  gap: 12px;  
  padding-bottom: 2px;
}

#status article header p {
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;  
}

#status article header p:first-of-type {
  font-weight: 700;
}

#status article header p:last-of-type {
  opacity: 0.60;
}

#status article > img {
  border-radius: 40px;
  height: 40px;
  width: 40px;
}

#status article p a {
  color: #26a8ed;
  text-decoration: none;      
}

#status article p a:hover {
  text-decoration: underline;
}

#status article div > p:last-child:not(:has(img)) {
  margin-bottom: 12px;
}

#status article div p:has(img) {
  margin-bottom: 12px;
  margin-top: 12px;
}

#status article div pre {
  border-radius: 16px;
  margin-bottom: 12px;
  margin-top: 12px;
}

#status article div img {
  border: solid 1px #00000020;  
  border-radius: 16px;
  display: block;
  height: auto;
  max-height: 450px;
  max-width: 100%;
  width: auto;
}

#status article div p {
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;  
}

/*
article header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
}

article header p {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;  
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

article header p:first-of-type {
  font-weight: 700;
}

article header p:last-of-type {
  color: rgb( 83, 100, 113 );  
}

main article > img {
  border-radius: 40px;
  height: 40px;
  width: 40px;
}

article p {
  margin: 0 0 12px 0;
  padding: 0;
}

article p:has( img ) {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
} 

article p img {
  border: solid 1px #ced9de;
  border-radius: 10px;
  max-height: 600px;
  max-width: 600px;
}

article {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;  
}
*/
